@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: url("../images/embrace.jpg");
    background-size: cover;
    
    
}
ul>li{
    padding: 0px 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  
    

    
}

ul>li:hover{
    border: 2px solid;
    border-radius: 20px;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.navbar-brand>img {
  width: 60px;
    height: 60px;
}    
.form-control{
    width: 20%;
    
}
.form-group {
	display: flex;
    
}
.image{
    background: url(embrace.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
   
}
.form{
    margin-top: 200px;
}
.text{
    display: flex;
    position: absolute;
    bottom: 0px;
    color: red;
    left: 470px;
    padding: 15px;
}
input[type=text] {
    width: 300px;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
 }
#sel1
{
    width: 300px;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    margin-left: 45px;
}


.container{
    padding: 90px;
  
}
.column {
    margin-left: 90px;
    width: 25%;
    padding: 5px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
    
  }
.column image{
    padding: 20px;
}

*[role="form"] {
    max-width: 530px;
    padding: 5px;
    border-radius: 0.2em;
    background: white;
    
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 15%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}


body > #preloader,#loader{
    background: black;
    overflow-y: hidden;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}